<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
    <title>Videogames</title>
  </head>
  <body>
    <div th:insert="~{fragments/fragments :: navbar}"></div>
    <div class="container my-5">
      <div class="row">
        <form
          method="post"
          th:action="${edit} ? @{/videogames/edit/{id} (id = ${videogame.id})} : @{/videogames/create}"
          id="videogame-form"
          th:object="${videogame}"
          enctype="multipart/form-data"
        >
          <!-- Nome -->
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="name"
              th:field="*{name}"
              th:errorClass="is-invalid"
            />
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
              <ul>
                <li th:each="err : ${#fields.errors('name')}">[[${err}]]</li>
              </ul>
            </div>
          </div>

          <!-- Descrizione  -->
          <div class="mb-3">
            <label for="description" class="form-label">Descrizione</label>
            <textarea
              class="form-control"
              id="description"
              th:field="*{description}"
              th:errorClass="is-invalid"
            ></textarea>
            <div
              th:if="${#fields.hasErrors('description')}"
              class="invalid-feedback"
            >
              <ul>
                <li th:each="err : ${#fields.errors('description')}">
                  [[${err}]]
                </li>
              </ul>
            </div>
          </div>

          <!-- Prezzo  -->
          <div class="mb-3">
            <label for="price" class="form-label">Prezzo</label>
            <input
              type="number"
              class="form-control"
              id="price"
              th:field="*{price}"
              step="0.01"
              th:errorClass="is-invalid"
            />
            <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
              <ul>
                <li th:each="err : ${#fields.errors('price')}">[[${err}]]</li>
              </ul>
            </div>
          </div>

          <!-- Data di rilascio  -->
          <div class="mb-3">
            <label for="release-date" class="form-label"
              >Data di rilascio</label
            >
            <input
              type="date"
              class="form-control"
              id="release-date"
              th:field="*{releaseDate}"
              th:errorClass="is-invalid"
            />
            <div
              th:if="${#fields.hasErrors('releaseDate')}"
              class="invalid-feedback"
            >
              <ul>
                <li th:each="err : ${#fields.errors('releaseDate')}">
                  [[${err}]]
                </li>
              </ul>
            </div>
          </div>

          <!-- Sviluppatore  -->
          <div class="mb-3">
            <label for="developer" class="form-label">Casa di sviluppo</label>
            <input
              type="text"
              class="form-control"
              id="developer"
              th:field="*{developer}"
              th:errorClass="is-invalid"
            />
            <div
              th:if="${#fields.hasErrors('developer')}"
              class="invalid-feedback"
            >
              <ul>
                <li th:each="err : ${#fields.errors('developer')}">
                  [[${err}]]
                </li>
              </ul>
            </div>
          </div>

          <!-- Immagine  -->
          <div class="mb-3">
            <label for="img" class="form-label">Immagine</label>
            <input type="file" name="file" class="form-control" id="img" />
          </div>

          <!-- Checkbox  -->
          <div class="my-3 form-check" th:each="platform : ${platforms}">
            <input
              type="checkbox"
              class="form-check-input"
              id="${platform.id}"
              th:field="*{platforms}"
              th:value="${platform.id}"
            />
            <label class="form-check-label" for="${platform.id}"
              >[[${platform.name}]]</label
            >
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
