<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
    <title>Show videogame</title>
  </head>
  <body>
    <div th:insert="~{fragments/fragments :: navbar}"></div>
    <div class="container my-5">
      <div class="row d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            th:src="@{'/img/' + ${videogame.img}}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">[[${videogame.name}]]</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
