<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
    <title>GameHub | Home</title>
  </head>
  <body
    th:style="'background: url(' + @{/img/sfondo-sm.jpg} + ') center/cover no-repeat fixed;'"
  >
    <th:block th:replace="~{fragments/fragments :: navbar}"></th:block>
    <div class="d-flex justify-content-center m-5">
      <h1
        class="bg-light bg-opacity-50 p-5 rounded-3 border border-dark border-opacity-50"
      >
        Back-end GameHub
      </h1>
    </div>
  </body>
</html>
